# Dependency directories
node_modules/
jspm_packages/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Chrome Extension Specifics
*.crx
*.zip
*.pem
